body{
   text-align: center;
   font-family: courier;
   color: #ff0000;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
   margin: 0;
}

.Container{
   width: 540px;
   margin: auto;
   min-height: calc(100vh - 64px);
}

.Container p{
   color: #0000ff;
}

.header {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
   padding: 20px;
   color: white;
   font-family: Arial;
   border-radius: 50px;
}

.content {
  background: rgb(253,45,45);
  background: linear-gradient(0deg, rgba(253,45,45,1) 4%, rgba(195,104,34,1) 82%);
  border-radius: 50px;
}


.footer {
  display: flex;
  justify-content: center;
  background: gray;
  height: 60px;
}
